:host {
  font-family: sans-serif;
  border: 2px solid var(--color-primary, purple);
  margin: 2rem;
  padding: 1rem;
  display: block;
  width: 20rem;
  max-width: 100%;
}


:host(.error) {
  border-color: orange;
}

form input {
  font: inherit;
  color: var(--color-primary, purple);
  padding: 0.1rem 0.25px;
  display: block;
  margin-bottom: 0.5rem;
}

form button:focus,
form input:focus {
  outline: none;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary, purple);
  background: var(--color-primary, purple);
  color: var(--color-primary-inverse, white);
  cursor: pointer;
}

form button:hover,
form button:active {
  background: var(--color-primary-highligth, #A900A9);
  border-color: var(--color-primary-highligth, #A900A9);
}

form button:disabled {
  background: var(--color-primary-border, #ccc);
  border-color: var(--color-primary-border, #ccc);
  color: var(--color-primary-inverse, white);
  cursor: not-allowed;
}
